body {
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: skyblue;
}
.search-bar-container {
  display: flex;
  align-items: center;
  width: 500px;
  height: 50px;
  border-radius: 50px;
  background-color: aliceblue;
  padding: 5px;
  margin: 10px;
  position: relative;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  transition: width 1s;
}
.magnifier {
  width: 25px;
  cursor: pointer;
  position: absolute;
  left: 20px;
}
.microphone {
  width: 30px;
  position: absolute;
  right: 10px;
  transition: width 0.5s;
  transition-delay: 0.5s;
}
.input {
  background-color: transparent;
  border: none;
  margin: 10px 50px;
  width: 100%;
  outline: none;
  color: rgb(100, 100, 100);
  transition: width 1s;
  transition-delay: 0.5s;
}
.active.search-bar-container {
  width: 50px;
}
.active .input {
  width: 0;
}
.active .microphone {
  width: 0;
}
